# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

.env
.env.*

# generated native folders
/ios
/android

*.json
*.plist
*.keystore

# node / editor
.expo-shared/
npm-debug.log*
yarn-error.log*
.pnpm-store/
.idea/
.vscode/

# env & secrets
.env*
!.env.example

# iOS/Android 인증 키/프로비저닝
*.p8
*.p12
*.mobileprovision
*.keystore
*.jks
AuthKey_*.p8
release.keystore

# Expo/EAS 캐시
.build/
